.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

section {
	font-size: 5vw;
	height: 5vw;
	width: 15vw;
	display: flex;
	justify-content: space-between;
}

.deck {
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
}

.deck .card {
	height: 10vw;
	width: 10vw;
	margin: 0.5vw 0.5vw;
	background: black;
	font-size: 0;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0.1vw 0.2vw 0.2vw 0 rgba(50, 50, 50, 1);
}

.deck .card.open {
	background: blue;
}

.deck .card.show {
	font-size: 10vw;
}

.deck .card.match {
	background: light green;
	font-size: 10vw;
}

.deck .card.unmatched {
	background: red;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}
